/* ------------- BODY ------------- */
body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: sans-serif; 
}
/* ------------- HEADER/ NAV ------------- */
header {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 2;
}

.nav {
  width: 100%;
}
  
nav h1 {
  color: var(--secondary-color);
  font-family: sans-serif;
}
  
.navbar-item, .logo {
  color: var(--seconary-color);
  font-family: sans-serif;
}
  
.dropdown {
  margin: 0;
}
  
header nav {
  position: fixed;
  margin-right: 20px;
  right: 0;
  top: 20px;
}
  
header nav a {
  color: black;
  font-family: sans-serif;
} 
  
.navButton {
  border: none;
  color: white;
  background-color:transparent;
}
  
.is-hoverable .navbar-item:hover {
  color: #FFD211;
}

.pageTitle {
  text-align: center;
  padding-top: .5%;
  padding-bottom: .5%;
  font-size: 40px;
  font-family: georgia, arial, helvetica;
  color: white;
}

.aside {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.foodIndexStart {
  display: flex;
  flex-direction: column;
}

.entryTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30%;
  margin-bottom: 5%;
}

.entryText{
  font-family: georgia;
  line-height: 1.5;
  font-size: 18px;
  color: black;
  opacity: 0;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
}

@keyframes fadeinup {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

/* .downArrow {
  padding-top: 15%;
  height: 300px;
  opacity: 0;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
} */

.foodImg {
    margin-top: 23%;
    width: 400px;
    opacity: 0;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
}



/* --------------- CHECKBOX ---------------  */
.form-title {
  margin-bottom: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-left: 10%;
}

label.radio {
  margin-left: 0% !important;
  padding-bottom: 1.5%;
  font-size: 18px;
  font-family: sans-serif !important;
}

input[name="cuisine" ] {
  accent-color: black;
}

input[name="lifestyle" ] {
  accent-color: black;
}


.options-container {
  display: flex;
  flex-direction: column;
  
}

.foodOptions {
  display: flex;
  flex-direction: column;
}

.cuisineOptions {
  display: flex;
  flex-direction: column;

}

.lifestyleOptions {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

/* --------------- BUTTONS---------------  */

.searchButton {
  font-family: sans-serif;
  border: 0px;
  font-size: 14px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2% 15% 2% 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
  
.searchButton:hover {
  background-color: #FFD211;
}

/* --------------- RESULTS ---------------  */

.message-header {
  background-color: white !important;
}

/* --------------- FOOTER ---------------  */

footer {
  background-color: transparent;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding:0;
  margin: 0px;
}

.footer-copyright {
  padding-right: 2%;
  font-size: 12px;
  font-family: sans-serif;
}

.footer-icons {
  color: black;
}

.footer-icons:hover {
  color: #FFD211;
}

