/* ------------- NAV ------------- */

.nav {
    width: 100%;
  }
  
  nav h1 {
    color: var(--secondary-color);
    font-family: sans-serif;
  }
  
  .navbar-item, .logo {
    color: var(--seconary-color);
    font-family: sans-serif;
  }
  
  .dropdown {
    margin: 0;
  }
  
  header nav {
    position: fixed;
    margin-right: 20px;
    right: 0;
    top: 20px;
  }
  
  header nav a {
    color: black;
    font-family: sans-serif;
  } 
  
  .navButton {
    opacity: .5;
  }
  
  .is-hoverable .navbar-item:hover {
    color: #FFD211;
  }
  