/* ------------- BODY ------------- */
body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    font-family: sans-serif; 
  }

/* ------------- HEADER/NAV ------------- */
header {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 2;
}

.pageTitle {
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
    font-size: 40px;
    font-family: georgia, arial, helvetica;
    color: white;
  }
  
  .foodIndexStart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .entryText{
    font-family: georgia;
    text-align: center;
    line-height: 2.0;
    padding-top: 40%;
    font-size: 20px;
    color: black;
  }
  
  .downArrow {
    padding-top: 15%;
    height: 300px;
  }
  
  #drinkImg {
    display:flex;
    justify-content: center;
  }

  .drinkImg {
    margin-top: 10%;
    width: 450px;
    opacity: 0;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
  }

  @keyframes fadeinup {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  .nav {
    width: 100%;
  }
    
  nav h1 {
    color: var(--secondary-color);
    font-family: sans-serif;
  }
    
  .navbar-item, .logo {
    color: var(--seconary-color);
    font-family: sans-serif;
  }
    
  .dropdown {
    margin: 0;
  }
    
  header nav {
    position: fixed;
    margin-right: 20px;
    right: 0;
    top: 20px;
  }
    
  header nav a {
    color: black;
    font-family: sans-serif;
  } 
    
  .navButton {
    border: none;
    color: white;
    background-color:transparent;
  }
    
  .is-hoverable .navbar-item:hover {
    color: #FFD211;
  }

 /* --------------- CHECKBOX ---------------  */

.container {
    padding-bottom: 20%;
  }

.form-title {
  padding-bottom: 2%;
}

#food_options {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

label.radio {
  margin-left: 0% !important;
  padding-bottom: 2%;
}
/* --------------- BUTTONS---------------  */
.button {
    letter-spacing: 2px;
    font-family: sans-serif;
    border: 0px;
    font-size: 14px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1% 3% 1% 3%;
  }
    
  .button:hover {
    transform: scale(1.1);
    background-color: #FFD211;
  }
  
  /* --------------- RESULTS ---------------  */
  .message-header {
    background-color: white !important;
  }
  
/* --------------- RESULTS ---------------  */

.message-header {
    background-color: white !important;
  }
  
/* --------------- FOOTER ---------------  */
footer {
    background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding:0;
    margin: 0px;
  }
  
  .footer-copyright {
    padding-right: 2%;
    font-size: 12px;
    font-family: sans-serif;
  }
  
  .footer-icons {
    color: black;
  }
  
  .footer-icons:hover {
    color: #FFD211;
  }
  
  